<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>920036203208-s86rg4io47p7fvuim2thf0584qjs87uf.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.920036203208-s86rg4io47p7fvuim2thf0584qjs87uf</string>
	<key>API_KEY</key>
	<string>AIzaSyBQWWOJQtvjiEFCOoERLtBuApdDzcLUWso</string>
	<key>GCM_SENDER_ID</key>
	<string>920036203208</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>io.nononsense.NewInstagram</string>
	<key>PROJECT_ID</key>
	<string>newinstagram-65cb4</string>
	<key>STORAGE_BUCKET</key>
	<string>newinstagram-65cb4.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<false/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:920036203208:ios:0360eb3a8d10c402</string>
	<key>DATABASE_URL</key>
	<string>https://newinstagram-65cb4.firebaseio.com</string>
</dict>
</plist>